/* the CSS code was written by taking user(as player) in mind, 
but game(output) has all "you" lables in it.
so dont care about the actual gaming display name "you". 
just making sure user = you. */

* {
  margin: 0;
  padding: 0;
  /* cursor:pointer */
}

body {
  background-color: rgba(252, 245, 225, 0.905);
}

/* setting design for heading */
.heading-container {
  color: rgb(255, 224, 143);
  background-color: rgb(6, 7, 113);
  height: 10vh;
  font-size: 3vmin;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* the container tag is enough for designing */
/* .game-heading {
    text-align: center;
    height: 10vh;
    font-size: 5vmin;
    display: block;
} */

/* styling logos container*/
.logos-container {
  /* background-color: rgb(37, 198, 85); */
  height: 40vh; /* 50vh was before*/
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7%;
  margin-top: 7vh;
}

/* each game icon */
.game-icon {
  border: 2px solid black;
  /* padding: 5vmax; */
  padding: 5vmin;
  object-fit: cover;
  border-radius: 100%;
  box-sizing: border-box;
}

.game-icon:hover {
  cursor: pointer;
  box-shadow: 12px 0px 2px 1px rgba(0, 0, 255, 0.334);
  /* box-sizing: border-box; */
  /* border: 10px solid black; */
}

/* changing background fo each icon */
.rock {
  background-color: rgb(247, 158, 158);
  /* border: none; */
}

.paper {
  background-color: rgb(235, 253, 133);
}

.scissor {
  background-color: rgb(161, 255, 255);
}

/* for score */
.score-container {
  /* background-color: chocolate; */
  height: 20vh;
  text-align: center;
  display: flex;
  justify-content: center;
  /* justify-content: space-evenly; */
  align-items: center;
  gap: 11%;
  font-size: 3em;
  /* margin-bottom: 3vh; */
}

/* for game message */

.msgcon {
  /* background-color :blueviolet; */
  display: flex;
  text-align: center;
  font-size: 3em;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
}

.message {
  color: white;
  background-color: rgb(39, 57, 194);
  border: 3px solid black;
  border-radius: 12rem;
  height: 10vh;
  width: 47vw;
  font-size: 2.5rem;
  display: flex;
  /* padding: 5%; */
  justify-content: center;
  align-items: center;
}
