/* the CSS code was written by taking user(as player) in mind, 
but game(output) has all "you" lables in it.
so dont care about the actual gaming display name "you". 
just making sure user = you. */

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba(252, 245, 225, 0.905);
}

/* setting design for heading */
.heading-container {
  color: rgb(255, 224, 143);
  background-color: rgb(6, 7, 113);
  height: 10vh;
  font-size: 1.7em;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* styling logos container*/
.logos-container {
  height: 45vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 7%;
  row-gap: 3%;
  margin-top: 5vh;
}

/* each game icon */
.game-icon {
  border: 2px solid black;
  padding: 5vmin;
  object-fit: cover;
  border-radius: 100%;
  box-sizing: border-box;
}

.game-icon:hover {
  cursor: pointer;
  box-shadow: 12px 0px 2px 1px rgba(0, 0, 255, 0.334);
}

/* changing background fo each icon */
.rock {
  background-color: rgb(247, 158, 158);
}

.paper {
  background-color: rgb(235, 253, 133);
}

.scissor {
  background-color: rgb(161, 255, 255);
}

/* for score */
.score-container {
  height: 20vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 11%;
  font-size: 3em;
}

/* for game message */
.msgcon {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  margin-top: 5vh;
}

.message {
  color: white;
  background-color: rgb(39, 57, 194);
  border: 3px solid black;
  border-radius: 12rem;
  height: 10vh;
  width: 47vw;
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 690px) {
  .heading-container {
    padding: 5px;
    font-size: 1.3rem;
  }

  .game-icon {
    padding: 5vmin;
    object-fit: cover;
    border-radius: 100%;
  }

  .image {
    height: 100px;
  }

  .score-container {
    height: 20vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    font-weight: 520;
    font-size: 1.7em;
  }

  .dis {
    width: max-content;
  }

  .msgcon {
    margin-top: 3vh;
  }

  .message {
    height: 10vh;
    width: 47vw;
    font-size: 1.5rem;
  }
}
